body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    gap: 20px;
    max-width: 1000px;
    margin: auto;
}

.lista {
    width: 40%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.card {
    background: white;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: 0.2s;
}

.card:hover {
    background: #e0f7fa;
    transform: scale(1.05);
}

.card img {
    width: 80px;
}

.detalle {
    width: 60%;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.detalle img {
    width: 150px;
}
